h2 {
  color: black;
}

#dashboarddesp {
  color: black;
  font-weight: normal;
}

#names {
  color: black;
  font-weight: normal;
  font-size: 20px;
}

#profilepicture {
  height: 150px;
  width: 150px;
}

.panel-title {
  font-weight: bold;
}

.panel-collapse {
  color: black;
  font-weight: normal;
}