 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete item?</h4>
        </div>
        <div class="modal-body">
          <p>This will permanently delete the item from the table and the action cannot be reversed.If you are sure,please confirm with the appropriate action</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="deleteConfirm()"  data-dismiss="modal">Yes,I am sure
          </button> 
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>