<h2> Contact </h2>
<!-- <ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#tab_a" data-toggle="tab">Information</a></li>
  <li><a href="#tab_b" data-toggle="tab">Query</a></li>
  <li><a href="#tab_c" data-toggle="tab">Confirmation</a></li>
</ul> -->
<uib-tabset active="active"  justified="true" >
    <uib-tab index="0" heading="Information">
    	<form name="info_form" ng-submit="nextForm()" novalidate>
			<div class="form-group" ng-class="{ 'has-error': info_form.firstName.$touched && info_form.firstName.$invalid }">
				<label for="firstName"> First Name </label>
				<div class="input-group">
					<input type="text" placeholder="First Name" class="form-control" name="firstName" id="firstName" aria-describedby="basic-addon1" 
					 ng-model="main.name"
        			 ng-minlength="5"
        			 ng-maxlength="10"
        			 ng-pattern="/^[a-zA-Z]*$/"
					required>
					<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-tree-conifer"></span></span>
				</div>
				<div class="help-block" ng-messages="info_form.firstName.$error" ng-if="info_form.firstName.$touched">
        			<p ng-message="minlength">Your firstname is too short.</p>
        			<p ng-message="maxlength">Your firstname is too long.</p>
        			<p ng-message="required">Your firstname is required.</p>
        			<p ng-message="pattern"> Only alphabets are allowed. </p>
      			</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': info_form.lastName.$touched && info_form.lastName.$invalid }">
				<label for="lastName"> Last Name </label>
				<div class="input-group">
					<input type="text" placeholder="Last Name" class="form-control" name="lastName" id="lastName" aria-describedby="basic-addon2"
					ng-model="main.lastname"
        			ng-minlength="5"
        			ng-maxlength="10" 
        			ng-pattern="/^[a-zA-Z]*$/"
        			required>
					<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-tree-deciduous"></span></span>
				</div>
				<div class="help-block" ng-messages="info_form.lastName.$error" ng-if="info_form.lastName.$touched">
        			<p ng-message="minlength">Your lastname is too short.</p>
        			<p ng-message="maxlength">Your lastname is too long.</p>
        			<p ng-message="required">Your lastname is required.</p>
        			<p ng-message="pattern"> Only alphabets are allowed. </p>
      			</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': info_form.email.$touched && info_form.email.$invalid }">
				<label for="email"> Email </label>
				<div class="input-group">
					<input type="email" placeholder="Email" class="form-control" name="email" id="email" aria-describedby="basic-addon3" ng-model="main.email"
					required>
					<span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-envelope"></span></span>
				</div>
				<div class="help-block" ng-messages="info_form.email.$error" ng-if="info_form.email.$touched">
        			<p ng-message="required">Your email is required.</p>
        			<p ng-message="email"> Enter the valid email. </p>
      			</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': info_form.phone.$touched && info_form.phone.$invalid }">
				<label for="phone"> Phone </label>
				<div class="input-group">
					<input type="tel" placeholder="Phone" class="form-control" name="phone" id="phone" aria-describedby="basic-addon4" ng-model="main.phone" 
					ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
					required>
					<span class="input-group-addon" id="basic-addon4"><span class="glyphicon glyphicon-earphone"></span></span>
				</div>
				<div class="help-block" ng-messages="info_form.phone.$error" ng-if="info_form.phone.$touched">
        			<p ng-message="required">Your phone number is required.</p>
        			<p ng-message="pattern"> Enter the valid 10 digit phone number </p>
      			</div>
			</div>
			<div class="form-group">
				<label for="location"> Location </label>
					<select class="form-control" ng-model="selectedlocation" ng-options="location.title for location in locations"required>
					<option></option>
					</select>
			</div>
			<div class="form-control" id="time">
			<p id="currenttime">The current time is : {{date | date:'MMM d, y hh:mm:ss a'}}</p>
			</div>
			<br>
			<button type="button" class="btn btn-info" ng-disabled="info_form.$invalid" ng-click="altActive(1)">
			NEXT</button>
			</form>	
    </uib-tab>
    <uib-tab index="1" heading="Query" disable="info_form.$invalid" >
    	<form name="query_form" ng-submit="nextForm1()" novalidate>
    		<div class="form-group" ng-class="{ 'has-error': query_form.title.$touched && query_form.title.$invalid }">
				<label for="title"> Title </label>
					<input type="text" placeholder="Title" class="form-control" name="title" id="title" 
					 ng-model="main.title"
					required>
				<div class="help-block" ng-messages="query_form.title.$error" ng-if="query_form.title.$touched">
        			<p ng-message="required">Title is required.</p>
      			</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': query_form.content.$touched && query_form.content.$invalid }">
				<label for="content"> Content </label>
					<textarea placeholder="Contents of the query should go here" class="form-control" name="content" id="content"
					 rows="5"
					 ng-model="main.content"
					required>
					</textarea>
				<div class="help-block" ng-messages="query_form.content.$error" ng-if="query_form.content.$touched">
        			<p ng-message="required">Content is required.</p>
      			</div>
			</div>
			<div class="form-group">
				<label for="category"> Category </label>
				<select class="form-control" ng-model="selectedcategory" ng-options="category.title for category in categories"required>
					<option></option>
				</select>
			</div>
			<div>
			<label for="priority">Priority</label>
    		<uib-rating ng-model="rate" max="max"  on-hover="hoveringOver(value)"  titles="['one','two','three']"></uib-rating>
   			 <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar">{{percent}}%</span>
			</div>
			<button type="button" class="btn btn-info" ng-disabled="query_form.$invalid" ng-click="altActive(2)">NEXT</button>
    	</form>
    </uib-tab>
    <uib-tab index="2" heading="Confirmation" disable="query_form.$invalid">
    		<hr>
   		<div>
    		<p>Here is the confirmation for your query,if everything is correct,feel free to send to us.We would love to take a look and will get back to you as soon as possible. In the meantime,you can send the confirmation to your email by clicking on the "Mail To" link </p>
    	</div>
   		<div>
    		<label for="confirmation">Confirmation ID</label>
    		<div>
    		#{{confirmationid}}
			</div>
			<br>
    		</div>
    		<div>
    		<label for="confirmationdate">Confirmation Date</label>
    		<div>
    		{{date | date:'MMM d, y hh:mm:ss a'}}
    		</div>
    		<br>
    		</div>
  	  		<div>
    		<label for="confirmationdetails">Confirmation Details</label>
    		<br>
    		<div class="panel panel-default">
    			<div class="panel body">
    				<div>
    					<span> =====Information=====</span>
    					<p> Full Name:{{main.name}} {{main.lastname}}</p>
    					<p> Email:{{main.email}}</p>
    					<p> Phone: {{main.phone}} </p>
	    				<p> Location:{{selectedlocation.title}}</p>
	    			</div>
    				<div>
				    	<span>=====Query=====</span>
				    	<p> Title:{{main.title}}</p>
				    	<p> Category:{{selectedcategory.title}}</p>
				    	<p> Priority:{{priorityconfirm}}</p>
				    	<p> Content:{{main.content}}
		    		</div>
			    </div>
			</div>
			<label for="mailto">Mail To</label>
			<div>
			<button ng-click="sendMail(mail.email)">{{main.name}} {{main.lastname}}</button>
			</div>

    </uib-tab>
</uib-tabset>
