<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="editModalLabel">Edit item</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="Title" ng-model="edittitle"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="Author" ng-model="editAuthor"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="Like" ng-model="editLike"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="Comment" ng-model="editComment"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="editConfirm()" data-dismiss="modal">submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>